[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flake8 = "*"
pydantic = "*"
typer = "*"
pyyaml = "*"
gymnasium = "*"
sinergym = "*"
asteval = "*"
stable-baselines3 = "*"
optuna = "*"
matplotlib = "*"
sb3-contrib = "*"
tensorboard = "*"
h5py = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
